<footer>
    <p class="copyright">&copy;2024 Roommate Sync></p><p class="socials"><img src="/images/facebook.png" alt="Facebook logo" width="20"><img src="/images/twitter.png" alt="Twitter logo" width="20"></p>

</footer>
</body>

</html>