/* index.html */
main {
  font-family: "Oswald", sans-serif;

  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.roommate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .roommate div {
  display: flex;
  background: gray;
  justify-content: center;
  border-color: black;
  margin-bottom: 1rem;
} */

.roommate-h1 {
  display: flex;
  background: gray;
  justify-content: center;
  border-color: black;
  margin-bottom: 1rem;

  width: 35vw;
  border-radius: 20px;
}

.roommate-img {
  display: flex;
  background: gray;
  justify-content: center;
  border-color: black;
  margin-bottom: 1rem;

  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.roommate img {

  height: 100px;
  width: auto;
}

#newAccount {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(26, 115, 232);
  text-decoration: none;
  padding: 0.5rem;

}

#newAccount:hover {
  color: rgb(23, 78, 166);
  /* border: 20px solid gray; */
  background-color: #9d99b115;
  border-radius: 5px;

}


.account {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.account input {
  width: 200px;
}

.account img {
  height: 40px;
  width: auto;
}

.password {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}


.password input {
  width: 200px;
}

.password img {
  height: 40px;
  width: auto;
}

.signup-buttons {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  gap: 4rem;
}


/* signup.html */

/* menu.html */
.menu-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
}

/* TODO: PUT CALENDER AND MESSAGES ON THE SIDES TO TAKE UP WHITE SPACE */
/*       POTENTIALLY RECENELTY OPENED TABS OR PUT FEATURE CHOICES ON THE SIDE AS WELL*/

.menu-choices a {
  background-color: gray;
  text-decoration: none;
  color: black;
  width: 10rem;
}

.menu-choices a h2 {
  text-align: center;
  vertical-align: text-top;
  margin-top: 2.2rem;
}

.menu-choice-6 {
/* margin-left: 10rem; */
}

/* .menu-choices div {
  background-color: gray;
}

.menu-choices div h2 {
  text-align: center;
  vertical-align: text-top;
  margin-top: 2.2rem
} */


.container {
  display: flex;
  justify-content: center;
  margin-left: 6rem;
}

.logout-container {
  height: 50px;
  width: 80px;
  margin-left: 3rem;
}

.logout {
  height: 50px;
  width: 80px;
  margin-left: 3rem;
}

/* Container for the login form */
.login-container {
  display: grid;
  gap: 20px;
  /* Gap between columns */
  max-width: 4000px;
  /* Max width of the container */
  margin: 0 auto;
  /* Center the container horizontally */
  width: 100;
}

/* Style for the input fields */
.login-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(19, 19, 19);
  border: none;
  color: white;
}

/* Style for the login button */
.login-button {
  /* width: 100%; */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Style for the login button on hover */
.login-button:hover {
  background-color: #0056b3;
}

.form-container {
  padding: 1.5rem 7rem;
  background-color: rgb(49, 51, 56);
  border-radius: 7px;

}


.signup-body {

  background-image: url("https://cdn.discordapp.com/attachments/1214340030609489991/1214343736704901130/rsbackground2x.jpg?ex=65f8c4bc&is=65e64fbc&hm=e535b97ee083fa2f7f73e2f33fae2ed7c7faeccce82fb3502d389d2d32deccc6&");
}


/** Profile Page  **/

/**TODO: Transfer styles to this CSS page **/


body {
  /* background-image: url("https://cdn.discordapp.com/attachments/1214340030609489991/1214343736704901130/rsbackground2x.jpg?ex=65f8c4bc&is=65e64fbc&hm=e535b97ee083fa2f7f73e2f33fae2ed7c7faeccce82fb3502d389d2d32deccc6&"); */


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;


}

p {
  color: #64A5CA; 
;
}

h3 {
  color: green;
}

/* .event-desc{
  color: rgb(146, 2, 2);
  /* color: rgb(187, 3, 3); */
/*}*/

.calendarTitle{
  color: rgb(146, 2, 2);
  color: rgb(1, 97, 1);
}

.upcoming-calendarTitle{
  color: rgb(146, 2, 2);
  color: rgb(1, 97, 1);
}

.calendarDesc{
  color: rgb(187, 3, 3);
  color: rgb(1, 97, 1);
}

.upcoming-calendarDesc{
  color: rgb(187, 3, 3);
  color: rgb(1, 97, 1);
}

label {
  color: rgb(153, 151, 151);
  font-weight: 500;
}

input:focus {
  outline: none;
}



/* menu.html */
.menu-main {
height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
}


.menu-choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
}
/* TODO: PUT CALENDER AND MESSAGES ON THE SIDES TO TAKE UP WHITE SPACE */
/*       POTENTIALLY RECENELTY OPENED TABS OR PUT FEATURE CHOICES ON THE SIDE AS WELL*/

.menu-choices a {
  background-color: gray;
  text-decoration: none;
  color: black;
  width: 10rem;
}

.menu-choices a h2 {
  text-align: center;
  vertical-align: text-top;
  margin-top: 2.2rem;
}

/* .menu-choices div {
  background-color: gray;
}

.menu-choices div h2 {
  text-align: center;
  vertical-align: text-top;
  margin-top: 2.2rem
} */


/* calendar.html */
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

/* comment this, after moving calendar from calendar.html to menu.html */
/* .calendar-body{
display: flex;
align-items: center;
gap: 1rem;
padding: 0 10px;
justify-content: center;
min-height: 100vh;
background: #9B59B6;
}
*/

.calendar-wrapper{
width: 450px;
background: #fff;
border-radius: 10px;
box-shadow: 0 15px 40px rgba(0,0,0,0.12);
border: 10px, solid, black;
}
.calendar-wrapper header{
display: flex;
align-items: center;
padding: 25px 30px 10px;
justify-content: space-between;
}
header .icons{
display: flex;
}
header .icons span{
height: 38px;
width: 38px;
margin: 0 1px;
cursor: pointer;
color: #878787;
text-align: center;
line-height: 38px;
font-size: 1.9rem;
user-select: none;
border-radius: 50%;
}
.icons span:last-child{
margin-right: -10px;
}
header .icons span:hover{
background: #f2f2f2;
}
header .current-date{
font-size: 1.45rem;
font-weight: 500;
}
.calendar{
padding: 20px;
}
.calendar ul{
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;
}
.calendar .days{
margin-bottom: 20px;
}
.calendar li{
color: #333;
width: calc(100% / 7);
font-size: 1.07rem;
}
.calendar .weeks li{
font-weight: 500;
cursor: default;
}
.calendar .days li{
z-index: 1;
cursor: pointer;
position: relative;
margin-top: 30px;
}
.days li.inactive{
color: #aaa;
}

.days li.active{
/* current day text color */
/* color: #fff; */
}
.days li::before{
position: absolute;
content: "";
left: 50%;
top: 50%;
height: 40px;
width: 40px;
z-index: -1;
border-radius: 50%;
transform: translate(-50%, -50%);
}
.days li.active::before{
/* current day background color */
/* background: #9B59B6; */
background: #aaa;
}
/* .selected-day {
top: 50%;
height: 30px;
width: 5px;
border-radius: 50%;
background: #dcdcdc;
} */
.days li:not(.active):hover::before{
background: #f2f2f2;
}


/* Calendar event section */
.event-wrapper {
display: flex;
flex-direction: column;
gap: 1rem;
width: 28rem;
border: 10px, solid, black;
border-radius: 10px;
box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.event-title-container {
display: flex;
flex-direction: column;
gap: 1rem;
  /* margin-right: 6rem; */
  margin-left: 0.7rem;
}

.header-wrapper {
display: flex;
justify-content: left;
flex-direction: row;
gap: 1rem;
}



.header-wrapper p {
margin-top: 1rem;
}

.event-container {
display: flex;
justify-content: space-between
}

.plus {
font-size: xx-large;
margin-top: 0.4rem;
/* margin-right: 1rem; */
/* margin-left: 4rem; */
justify-content: right;
text-align: right;
cursor: pointer;
border-radius: 10px;

}

.plus:hover{
background: #f2f2f2;

}

.formInput {
margin-bottom: 1rem;
}

.formInput label {
color: black;
}

.event-input {
width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #878787;
  border: none;
  color: white;
}

.calendar-section{  
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
padding: 0 10px;
justify-content: center;
height: 50vh;
}

.hidden {
display: none;
}

.justify-right {
justify-content: right;
margin-right: 0.7rem;
}

.plus-location {
margin-right: 11px;
}

/* Style for Message Page */

/* New home page styles */
body {
  background-color: #FFF2E2 ; 
}

nav {
  font-family: "Roboto", sans-serif;

}

nav a {
  text-decoration: none;
  color: inherit;        
}

.sync-header {
  color: #64A5CA; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-container h1 {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container img {
  margin-right: 10px;
}

.logout-btn {
  color: white;
  background-color: #64A5CA; 
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 20px; 
  cursor:pointer;
}
.menu-icon-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-options a{
  text-decoration: none;
  color: inherit;    
}

.menu-icon-label {
  margin-top: 0.6rem;
  font-size: 1.2rem;
}

.event-container, .event-wrapper {
  background-color: white;
}

.menu-section {
  display: flex;
  margin-top: -3rem;
  flex-direction: column;
  align-items: center; 
  margin-left: 2.5rem;
}

.profile-container{
  display:flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-container h2 {
  margin-right: 0.8rem;
}

.menu-main {
  margin-top: -3rem;
}

nav h1 {
  font-size: 1.7rem;
}