<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif&family=Patua+One&display=swap" rel="stylesheet">
  

    <link rel="stylesheet" href="/css/signupStyles.css">
    <title>Roommate Sync</title>
</head>
<body>
    <main>
        <div class="form-container">
    <div class="roommate">
      
        <!-- <div class="roommate-img">
          <img src="./public/images/roommate-sync-logo.png" alt="roommate sync logo">
        </div> -->
        <h1 style="color: rgb(235, 228, 221);">Create an account</h1>
      </div>
    <form action = '/users' method = 'POST'>
    <div class="login-container">
        <div class="formInput">
            <label for="email">EMAIL</label>
            <input type="email" class="login-input" name="email" required>
        </div>

        <div class="formInput">
            <label for="password">PASSWORD</label>
            <input type="password" name="password" class="login-input" minlength="8" required>
        </div>

        
        <div class="formInput">
            <label for="firstName">FIRST NAME</label>
            <input type="text" class="login-input" id="firstName" name="firstName" required>
        </div>

        <div class="formInput">
            <label for="lastName">LAST NAME</label>
            <input type="text" class="login-input" id="lastName" name="lastName" required>
        </div>

        <button type="submit" class="login-button">Register</button>
        
    </form>

    <a id="newAccount" href="/users/login">I have an account</a>


    </div> 
    
</main>
</body>
</html>