<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/messagesNewStyles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/messaging.js" defer></script>
  
    <title>Roommate Sync</title>
</head>
<body>
    <a href="/messages"><button>Back</button></a>
    <div class="header">
    <img src="<%= thisUser.image%>" alt="profilePic">
    <h1 class="username"><%-thisUser.firstName + ' ' + thisUser.lastName%></h1>
    <h2>DMs</h2>
</div>


        <%if(!messages.length) {%>
            <h4 class="one-column">You have no messages with this user. Say hello!</h4>
            <div class="main">

            <ul class="chat-container">
<p></p>
            </ul>


        <%} else { %>
        
        <div class="main">


        <ul class="chat-container">
            <% for(let i=0; i < messages.length; i++){ %>  

                <% if(messages[i].sender.id === thisUser.id)  { %> 
                <li class="message-bubble message-left">
                    <% } else { %> 
                
                    <li class="message-bubble message-right">

                    <%    }%> 
                <p><%= messages[i].message%>
                <span></span>
            </p>
        </li>
        <% } %>
            </ul>
            <%  }%>

       
        
        
    <form class="message-form" id="message-form">
      <div class="chat-input">
      <input type="text" id="msg"placeholder="Type your message..." name="text">
      <button>Send</button>
  </div>
</form>
</div>


</body>
</html>