<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/messagesStyles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
      integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/js/messaging.js" defer></script> -->
    <title>Roommate Sync</title>
  </head>
  <body>
    <nav>
        <div class="nav-container">
            <a href="/">
                <h1>
                    <img src="/images/sync-logo.png" alt="logo" width="40" height="40">Roommate&nbsp;<span class="sync-header">Sync</span>
                </h1>
            </a>
        </div>
    </nav>
    <h2>Users</h2>

    <main>
    <% for(let i=0; i < users.length; i++){ %>  
<p class="users"><a href="/messages/<%= users[i]._id%>"><%= users[i].firstName + ' ' + users[i].lastName%> </a></p>



<% } %>



</main>

  </body>
</html>
