<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/messagesNewStyles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
      integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
      crossorigin="anonymous"
    ></script>
    <script src="/js/messaging.js" defer></script>
    <title>Roommate Sync</title>
  </head>
  <body>

        <nav>
          <div class="nav-container">
              <a href="/messages">
                  <h1>
                      <img src="/images/sync-logo.png" alt="logo" width="40" height="40">Roommate&nbsp;<span class="sync-header">Sync</span>
                  </h1>
              </a>
          </div>
          <h1 class="username"><%-user.firstName %></h1>

      </nav>
<div class="main">



              <ul class="chat-container">
                
          </ul>
          <form class="message-form" id="message-form">
            <div class="chat-input">
            <input type="text" id="msg"placeholder="Type your message..." name="text">
            <button>Send</button>
        </div>
    </form>
  </div>
    <h3 class="clients-total" id="client-total">Total Clients: </h3>

  
  </body>
</html>
